body {
    background-color: #fcfaf2;
    background-image: radial-gradient(#d1d1d1 1px, transparent 1px);
    background-size: 20px 20px; /* El punteado */
    font-family: 'Courier Prime', monospace;
    color: #333;
    max-width: 700px; /* Para que parezca una hoja de libreta */
    margin: 40px auto;
    padding: 20px;
    line-height: 1.6;
}

h1, h2, h3, a {
    font-family: 'Architects Daughter', cursive;
    color: #5a7a5e; /* Verde musgo */
}

nav { margin-bottom: 40px; text-align: center; }

/* Para que las imágenes en la Galería parezcan fotos pegadas */
img {
    max-width: 100%;
    border: 10px solid white;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    transform: rotate(-1deg);
}